---
import Button from "../../components/Button.astro"
import Logo from "../../components/Logo.astro"
import Default from "../../layouts/Default.astro"
---

<Default>
  <div class="flex h-full flex-col justify-center gap-2">
    <div class="flex w-full flex-col">
      <div class="flex w-full flex-col gap-2 border-b bg-gradient-to-bl from-black to-brand-purple-dark p-8">
        <span class="flex flex-row items-center gap-2 text-4xl font-bold">Vital<Logo type="vital" /></span>
        <span
          >Vital - это модпак, который был разработан как альтернатива Essential (и OptiFine). Он содержит большинство
          функций Essential и OptiFine, включая, но не ограничиваясь ими: хостинг мира, косметика, множество ресурсных
          пакетов шейдеров и значительное улучшение рендеринга и производительности логики.</span
        >
        <div class="flex flex-row flex-wrap items-center gap-2">
          <Button to="https://modrinth.com/modpack/vital/" external={true} showIcon={true}> Modrinth </Button>
          <Button to="https://github.com/intergrav/vital/" external={true} showIcon={true}> GitHub </Button>
        </div>
      </div>
      <div class="flex w-full flex-col gap-2 border-b bg-gradient-to-bl from-black to-brand-blue-dark p-8">
        <span class="flex flex-row items-center gap-2 text-4xl font-bold">NotEssential<Logo type="ne" /></span>
        <span>NotEssential - это сайт, на котором размещены ссылки на моды, заменяющие функции Essential.</span>

        <div class="flex flex-row flex-wrap items-center gap-2">
          <Button to="https://notessential.blurry.gay/" classList="bg-brand-blue" external={true} showIcon={true}>
            Посетить
          </Button>
          <Button
            to="https://usevital.github.io/notessential-gallery/"
            classList="bg-brand-blue"
            external={true}
            showIcon={true}>
            Галерея
          </Button>
          <Button
            to="https://github.com/usevital/notessential"
            classList="bg-brand-blue"
            external={true}
            showIcon={true}>
            GitHub
          </Button>
        </div>
      </div>
      <div class="grid w-full grid-cols-1 border-b md:grid-cols-2">
        <div
          class="flex w-full flex-col gap-2 bg-gradient-to-bl from-brand-background-secondary to-brand-green-dark p-8">
          <span class="flex flex-row items-center gap-2 text-4xl font-bold">Ward<Logo type="ward" /></span>
          <span
            >Ward - это простой текстовый манипулятор для веб. Создан для того, чтобы делать глупые переводы для
            NotEssential.</span
          >
          <div class="flex flex-row flex-wrap items-center gap-2">
            <Button to="https://ward.worldwidepixel.ca" classList="bg-brand-green" external={true} showIcon={true}>
              Посетить
            </Button>
            <Button to="https://github.com/usevital/ward" classList="bg-brand-green" external={true} showIcon={true}>
              GitHub
            </Button>
          </div>
        </div>
        <div class="flex w-full flex-col gap-2 border-l bg-gradient-to-bl from-black to-cyan-900 p-8">
          <span class="flex flex-row items-center gap-2 text-4xl font-bold"
            >Translator<Logo fill={true} type="ward" /></span
          >
          <span
            >Скрипт на языке Python, который поможет вам конвертировать и манипулировать текстом различными способами.</span
          >
          <div class="flex flex-row flex-wrap items-center gap-2">
            <Button
              to="https://github.com/usevital/translator/releases"
              classList="bg-cyan-700"
              external={true}
              showIcon={true}>
              Релизы
            </Button>
            <Button to="https://github.com/usevital/translator" classList="bg-cyan-700" external={true} showIcon={true}>
              GitHub
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Default>
